<!DOCTYPE html>
<html>
<head>
    <title>Group Details</title>
    {% load static %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="stylesheet" href="{% static 'css/group.css' %}">
    <link rel="stylesheet" href="{% static 'css/popup.css' %}">

  
</head>
<body>
    <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'user_details' %}">Users</a>
    </nav>


    <h1>Group Biodata</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-success" type="submit" value="Submit">
    </form>   


    <button id="show-data-protection" style="background-color: blue; color: white;">Show Data Protection Statement</button>
    <script>
      const showButton = document.getElementById('show-data-protection');
      const popupUrl = "{% url 'data_protection_statement' %}"; // Replace with your URL if using a view function
    
      showButton.addEventListener('click', () => {
        window.open(popupUrl, '_blank'); // This opens the statement in a new tab/window
      });
    </script>

    <h3>Secure and mobile responsive app </h3>
    <h4> Social Media Links: If applicable, provide links to your social media profiles.  </h4>

    <h4>Privacy Policy: Link to your privacy policy to ensure transparency and compliance.</h4>

    <h4>Terms of Service: Link to your terms of service to outline user rights and responsibilities </h4>



     <div style="position: relative; height: 50px; background-color: lightblue;">
        <div style="position: absolute; bottom: 40px; right: 13px; background-color: yellow;">
         </div>
        <footer>
            &copy; 2024 Vihiga County. All rights reserved.
          </footer>
    </div>
 
</body>  
</html>