<!DOCTYPE html>
<html>
<head>
    <title>Group Details</title>
    {% load static %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">  <link rel="stylesheet" href="{% static 'css/group.css' %}">
  
</head>
<body>
    <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'user_details' %}">Users</a>
    </nav>


    <h1>Group Profiling</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input class="btn btn-success" type="submit" value="Submit">
    </form>
    
    <div style="position: relative; height: 50px; background-color: lightblue;">
        <div style="position: absolute; bottom: 40px; right: 13px; background-color: yellow;">
           Thanks for shairing your details
        </div>
        <footer>
            &copy; 2024 Vihiga County. All rights reserved.
          </footer>
    </div>

</body>  
</html>