<!DOCTYPE html>
<html>
<head>
  <title>Vihiga County</title>
  {% load static %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
   <link rel="stylesheet" href="{% static 'css/home.css' %}"> 
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia&effect=fire">
</head>

<body>
    <nav style="  font-family: Audiowide, sans-serif; ">
      <a href="{% url 'home' %}">Home</a>
      <a href="{% url 'create_person' %}">Youth</a>
      <a href="{% url 'group_details' %}">Youth Groups</a>
      <a href="{% url 'upcoming_programs' %}">Youth Empowerment Programmes</a>
      <a href="{% url 'sports_details_view' %}">Sports Team</a>
    </nav>    
<h1 style="font-family: Sofia, sans-serif; font-size: 30px;"> Directorate of Youth and Sports</h1>

<div class="hom">
  <p>Providing leadership, coordination and an enabling environment for the development of youth through participatory engagements that serve their needs and the society </p>
   <h3 style="text-align: center;">Our team </h3>
 </div>
<div class="photo">
  <img src="static/images/hom1.jpg"  alt="Image 1">
</div>


<section>
  <h1>ABOUT US</h1>
    <p>The Directorate of youth and sports is domiciled in the Department of Gender, Culture, Youth,
       Sports and Social Services. The Directorate is headed by a Chief Officer of Youth and sports. The Directorate 
        coordinates all youth and sports programs in the county. The Directorate also ensures there is a database on youth and youth programs, youth leadership framework
         and inclusion of youth in government.</p>
    <h3 style="text-align: center; font-size: 23px;">Directorate Mandate </h3>
<p style="text-align: center;">The Directorate of Youth and Sports is responsible for overseeing and supporting the development and well-being of the youth. 
   This includes coordinating youth programs, collaborating with NGOs, maintaining a comprehensive youth 
   database, and promoting youth talent and youth leadership.
</p>

 
<section class="service-delivery-charter">
    <div class="container">
      <div class="content">
        <h2>Service Delivery Charter</h2>
        <p>
          We are committed to providing high-quality services to our clients. 
          Our Service Delivery Charter outlines our promise to deliver excellence, transparency, 
          and accountability in all our operations. We strive to meet and exceed your expectations 
          by ensuring timely and efficient service delivery.
        </p>
  <!--        
        <div class="image" style="display: flex; justify-content: center; margin-bottom: 20px; width: 100%; max-width: 600px; margin-left: auto; margin-right: auto;">
          <img src="static/images/charter.jpg" alt="Service Delivery Image" style="width: 100%; height: auto; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
        </div> --> 
        <div class="image" style="display: flex; justify-content: center; margin-bottom: 20px; width: 100%; max-width: 600px; margin-left: auto; margin-right: auto;">
          <img src="static/images/charter.jpg" alt="Service Delivery Image" style="width: 800px; height: 600px; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);">
        </div>
      </div>
    </div>
  </section>



<div class="card-container">     
  <div class="card">
      <img src="static/images/dep2.jpg" alt="">
      <div class="card-content">
           <p class="caption">Directorate Leadership with members of Vihiga Youth Service Board during their induction </p>
       </div>
  </div>

  <div class="card">
      <img src="static/images/munyora.jpg" alt="">
      <div class="card-content">
           <p class="caption"><i>From left Mr.Munyora Assistant Director Youth Affairs, Mr.Sylvesters Kaane Chief Officer Youth and Sports and Mr. Bongo Ngoseywe Director Youth and Sports</i></p>
       </div>
  </div>

  <div class="card">
      <img src="static/images/mis.jpg" alt="">
      <div class="card-content">
          <p class="caption"><i>Vice Chairperson, Vihiga Youth Service Board  Miss Glory Kavaya taking oath of office</i></p>           
       </div>
  </div>
</div>
</section>


<div class="about-2"> 
    <div class="mission1" style="padding-top: 92px; font-family: Sofia, sans-serif; padding-top: 50px;">   
      <h3 style="padding-top: 140px;">Mission, Vission and Achievements</h3>
     </div>

      <div class="content-box-lg">
          <div class="container">
              <div class="row">
                  <div class="col-md-4">
                      <div class="about-item text-center">
                          <i class="fa fa-book"></i>
                          <h3>MISSION</h3>
                          <hr>
                            To promote youth development through talent nurturing and empowerment programmes
                              
                      </div>
                  </div>
                  
                  <div class="col-md-4">
                      <div class="about-item text-center">
                          <i class="fa fa-globe"></i>
                          <h3>VISSION</h3>
                          <hr>
                          <p> To create a dynamic and empowerd society where all young people 
                            have access to transformative sports, personal growth and social economic empowerment
                    
                       </div>
                  </div>

                  <div class="col-md-4">
                      <div class="about-item text-center">
                          <i class="fa fa-pencil"></i>
                          <h3>ACHIEVEMENTS</h3>
                          <hr>
                          <ul>Constitution and operationalisation of vihiga county youth service board</ul>
                          <ul>Appointment and operationalisation of vihiga county sports management committee</ul>
                          <ul>Support to local sports teams through vihiga county sports fund</ul>
                          <ul>Training and capacity building of vihiga county youth on digital soft skills</ul>

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>



<div class="contribute">  
 <h1>Discover memorable events and information about our county.</h1>

 </div> 
 <section class="welcome">
      <div class="flex-grid">
          <div class="grid-item">
              <img src="static/images/diaspora.jpg" alt="Image 1">
              <h3>Diaspora jobs</h3>
           </div>
          
          <div class="grid-item">
              <img src="static/images/talanta.jpg" alt="Image 2">
              <h3>Talanta Hela</h3>
           </div>
          
          <div class="grid-item">
              <img src="static/images/inter.jpg" alt="Image 3">
              <h3>International Youth Day</h3>
           </div>
      </div>
  </section>

<div class="contribute2">  
  <div class="upcoming">  
    <h1>Upcoming Events</h1>
     <button id="btn-upcoming"><a href="{% url 'upcoming_programs' %}">View Upcoming Programs</a>
    </button>
  </div>
</div>

<div class="about1"> 
<div class="ContactAbout1">
    <h2>Location </h2>
    <p>Vihiga County, with its headquarters in Mbale, is located in the Western Region of Kenya.
       It borders Nandi to the East.</p>
    <h2>Contact Us</h2>
    
    <ul>
        <li>Toll Free Line: 0800720378</li>
        <li>Address: P.O. Box 344 - 50300</li>
        <li>Email: cecmgenderyouthssocialservices@gmail.com</li>
        <li>Email: vihigadirectoryouthaffairs@gmail.com</li>
        <li>Email: co.sports@gmail.com</li>
        <li>Location: Mbale Town, Vihiga County- Kenya</li>
    </ul>
</div>

<div class="ContactAbout1">
  <h2>Directorate Offices</h2>
   <ul>
      <li>County headquarters Municipal Grounds Block 5</li>
      <li>County headquarters Building Room 207</li>
      <li>County Commissioner Building Room 314</li>
      <li>Sub County Offices located at the sub county administrator offices</li>
 
   </ul>

</div>
</div>

<section class="social-links">   
    <h2>Follow Us</h2>
    <ul>
      <li>
        <a href="https://twitter.com/vihigacountygov">
          <img src="static/images/x.png" alt="Twitter logo">
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/vihigaqueensfc/">
          <img src="static/images/ig1.jpg" alt="Instagram logo">
        </a>
      </li>
      <li>
        <a href="https://web.facebook.com/people/Department-Of-Youth-and-Sports-Vihiga-County/61550850406379/">
          <img src="static/images/fb.png" alt="Facebook logo">
        </a>
      </li>    
    </ul>
  </section>
 
<div style="position: relative; height: 50px; background-color: lightblue;">
  <div style="position: absolute; bottom: 40px; right: 13px; background-color: yellow;">
  </div>
    <footer>
      &copy; 2024 Vihiga County. All rights reserved.
    </footer>
</div>

</body>
</html>